
html {
    max-width: auto;
    height: 100%;
}

body {
    font-family: 'Gill Sans', sans-serif;
    align-content: center;
    text-align: center;
    font-size: 18px;
    background: linear-gradient(to bottom right, rgb(221, 177, 170), rgb(250, 232, 172));
}

div {
    width: 50%;
    margin: auto;
    padding: 5px;
}

label {
    font-size: 16px;
    font-weight: 500;
}

p {
    font-size: 18px;
}

.main {
    background: linear-gradient(to bottom right, rgb(247, 162, 51), rgb(237, 245, 166));
    font-size: 15px;
    box-shadow: grey 3px 3px 3px 3px;
    border: 1px rgb(190, 190, 190) solid;
    border-radius: 10px;
    vertical-align: middle;
    align-content: center;
    margin-top: 100px;
}

fieldset {
    border-color: transparent;    
}

.center {
    align-content: center;
}

#radio1 {
    width: 20%;
    margin: auto;
}

button {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background: linear-gradient(to bottom left, rgb(243, 120, 5), rgb(231, 29, 15));
    width: 150px;
    height: 50px;
    box-shadow: grey 3px 5px ;
    border-radius: 50px;
    margin: 15px;
    border-color: transparent;
}